.center{
		margin: 0 70px;
		}
		
		.ss {
		    text-decoration: none;
		    cursor: pointer;
		    color: gray;
		    font-size: 20px;
		    margin: 0 20px;
		}
		
		.ss:hover {
		    text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.ss.ie6:hover {
		text-decoration: none;
		    zoom: 1;
		    color: orange;
		}
		
		.ss:focus {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.ss:hover,
		.ss:active {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		.z1{
		width: 94%;
		margin-left: 20px;
		}
		.xx{
		display: inline;
		float: left;
		}
		.x .xx{
		margin: 0 20px;
		}

		.yellow-tip {
	    color: #e88b06;
	    background: #fffbf0;
	    font-size: 12px;
	    display: inline-block;
	    height: 18px;
	    line-height: 19px;
	    border: 1px solid #ffdeab;
	    border-radius: 2px;
	    padding: 0 10px;
	    margin-left: 3px;
		}
		 .pro-bg {
	    vertical-align: 2px;
	    width: 100px;
	    height: 8px;
	    border-radius: 20px;
	    background: #fff3d3;
	    display: inline-block;
		}
		.rel {
    	position: relative;
		}
		.pro-live {
	    height: 8px;
	    left: 0;
	    top: 0;
	    background: #ffc62c;
	    border-radius: 20px;
		}
		.abs {
		    position: absolute;
		}		
		.z{
		width: 96%;
		margin-left: 0;
		}
		.v {
		    text-decoration: none;
		    cursor: pointer;
		    color:  gray;
		}
		
		.v:hover {
		    text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.v.ie6:hover {
		text-decoration: none;
		    zoom: 1;
		    color: orange;
		}
		
		.v:focus {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.v:hover,
		.v:active {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		.v {
		    text-decoration: none;
		    cursor: pointer;
		    color: gray;
		    font-size: 20px;
		    margin: 0 20px;
		}
		
		.v:hover {
		    text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.v.ie6:hover {
		text-decoration: none;
		    zoom: 1;
		    color: orange;
		}
		
		.v:focus {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.v:hover,
		.v:active {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		.v {
		    text-decoration: none;
		    cursor: pointer;
		    color:  gray;
		}
		
		.v:hover {
		    text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.v.ie6:hover {
		text-decoration: none;
		    zoom: 1;
		    color: orange;
		}
		
		.v:focus {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.v:hover,
		.v:active {
		text-decoration: none;
		    outline: none;
		    color: orange;
		}
		.button {
		    text-decoration: none;
		    cursor: pointer;
		    color: gray;
		    font-size: 10px;
		    border: 1px solid #c3c3c3;
		    background-color:white;
		    border-radius: 3px;
		    height: 30px;
		    width: 70px;
		}
		
		.button:hover {
		    text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.button.ie6:hover {
		text-decoration: none;
		    zoom: 1;
		    color: white;
		    background-color: orange;
		    border: 1px solid orange;
		}
		
		.button:focus {
		text-decoration: none;
		    outline: none;
		     color: white;
		    background-color: orange;
		    border: 1px solid orange;
		}
		
		.button:hover,
		.button:active {
		text-decoration: none;
		    outline: none;
		     color: white;
		    background-color: orange;
		    border: 1px solid orange;
		}
		.n{
			display: inline;
			float: left;
		}
		.buttons {
		    text-decoration: none;
		    cursor: pointer;
		    color: gray;
		    font-size: 10px;
		    border: 1px solid #c3c3c3;
		    background-color:white;
		    border-radius: 3px;
		    height: 40px;
		    width: 70px;
		    margin-left: 30px;
		}
		
		.buttons:hover {
		    text-decoration: none;
		    outline: none;
		    color: orange;
		}
		
		.buttons.ie6:hover {
		text-decoration: none;
		    zoom: 1;
		    color: orange;
		    border: 1px solid orange;
		}
		
		.buttons:focus {
		text-decoration: none;
		    outline: none;
		     color: orange;
		    border: 1px solid orange;
		}
		
		.buttons:hover,
		.buttons:active {
		text-decoration: none;
		    outline: none;
		     color: orange;
		    border: 1px solid orange;
		}
		.cc{
		background-color: #c3c3c3;
		border-radius: 4px;
		width: 340px;
		border: 1px solid #c3c3c3;
		height: 50px;
		color: white;
		font-size: 20px;
		margin-left: 30px;
		margin-top: 10px;
		outline: none;
		}

		.demo { padding: 2em 0; background: #fff; }
		.m:hover, .m:focus { outline: none; text-decoration: none; }
		.tab .nav-tabs { border-bottom: none; position: relative; }
		.tab .nav-tabs li { margin-right: 60px; z-index: ; }
		.tab .nav-tabs li:after { content: ""; width: 100%; border: 1px solid #ccc6c6; position: absolute; top: 50%; right: -60%; z-index: -1; }
		.tab .nav-tabs li:last-child:after { border: none; }
		.tab .nav-tabs li a { display: block; padding: 15px 20px; background: #fff; font-size: 15px; font-weight: 600; color: #956cae; text-transform: uppercase; border-radius: 0; margin-right: 0; border: 2px solid #956cae; position: relative; overflow: hidden; z-index: 1; transition: all 0.3s ease 0s; }
		.tab .nav-tabs li.active a, .tab .nav-tabs li a:hover { color: #fff; border: 2px solid #956cae; }
		.tab .nav-tabs li a:after { content: ""; display: block; width: 100%; height: 0; position: absolute; top: 0; left: 0; z-index: -1; transition: all 0.3s ease 0s; }
		.tab .nav-tabs li.active a:after, .tab .nav-tabs li a:hover:after { height: 100%; background: #956cae; }
		.tab .tab-content { padding: 20px 10px; margin-top: 0; font-size: 14px; color: #999; line-height: 26px; }
		.tab .tab-content h3 { font-size: 24px; margin-top: 0; }
		
		@media only screen and (max-width: 767px) {
		.tab .nav-tabs li { margin: 0 25px 0 0; }
		}
		
		@media only screen and (max-width: 479px) {
		.tab .nav-tabs li { width: 100%; text-align: center; margin: 0 0 10px 0; }
		.tab .nav-tabs li:after { width: 0; height: 100%; top: auto; bottom: -60%; right: 50%; }
		}
		
