@charset "utf-8";
.f-cb:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.f-cb{zoom:1}
.elo-footer{ width:100%;min-width:1200px; background-color:#404040;padding:20px 0 50px 0;font:14px/1.7 \5fae\8f6f\96c5\9ed1,\5b8b\4f53;}
.elo-footer p{margin:0;padding:0;}
.elo-footer a,.elo-footer a:hover{text-decoration:none;outline:none;}
.elo-footer .fot-cont{padding:0 40px;width: 1120px; margin: 0 auto}
.elo-footer .fot-cont .fot-txt { width:645px;float:left}
.elo-footer .fot-cont .fot-txt .fot-word{font-size:14px;color:#9b999a}
.elo-footer .fot-cont .fot-txt .bor-bot{border-bottom:1px solid #565656; height:35px; line-height:35px; margin-bottom:5px; margin-top:10px;}
.elo-footer .fot-cont .fot-txt .bor-bot span{color:#9b999a;margin-right:20px;}
.elo-footer .fot-cont .fot-txt .bor-bot a{color:#9b999a;margin-right:20px;}
.elo-footer .fot-cont .fot-txt .bor-bot a:hover{text-decoration:underline;}
.elo-footer .fot-cont .fot-txt .bor-bot a.no-mar{margin:0;}
.elo-footer .fot-cont .fot-txt .bor-bot i{margin:0 10px;font-style:normal;}
.elo-footer .fot-cont .fot-img{ width:410px;float:right;}
.elo-footer .fot-cont .fot-img a{display:block;float:left; height:40px;background:url("http://about.eloancn.com/img/elofooter.png") no-repeat;text-align:center; font-size:12px;color:#888888; margin-bottom:15px;}
.elo-footer .fot-cont .fot-img .sml{ padding-left:45px; width:65px;margin-right:15px;}
.elo-footer .fot-cont .fot-img .big{ padding-left:40px; width:120px;margin-right:0;}
.elo-footer .fot-cont .fot-img .br{ line-height:14px;padding-top: 6px;height: 34px;}
.elo-footer .fot-cont .fot-img .honest{ background-position:0 -84px;line-height:40px;}
.elo-footer .fot-cont .fot-img .honest:hover{ background-position:0 0;color:#fff;}
.elo-footer .fot-cont .fot-img .gaoxin{ padding-left:40px; width:70px; background-position:-113px -84px;}
.elo-footer .fot-cont .fot-img .gaoxin:hover{ background-position:-113px 0;color:#fff;}
.elo-footer .fot-cont .fot-img .xinxi{background-position:-226px -84px;}
.elo-footer .fot-cont .fot-img .xinxi:hover{ background-position:-226px 0;color:#fff;}
.elo-footer .fot-cont .fot-img .safety{background-position:0 -126px;}
.elo-footer .fot-cont .fot-img .safety:hover{background-position:0 -42px;color:#fff;}
.elo-footer .fot-cont .fot-img .pay{padding-left:40px; width:70px; background-position:-113px -126px;}
.elo-footer .fot-cont .fot-img .pay:hover{background-position:-113px -42px;color:#fff;}
.elo-footer .fot-cont .fot-img .country{background-position:-226px -84px;}
.elo-footer .fot-cont .fot-img .country:hover{background-position:-226px -42px;color:#fff;}













