*{margin:0;padding:0}
body{font:14px Georgia}

header{padding:100px 0 0 0;display:block}
header h1{width:960px;margin:0 auto}
a{color:black;}
a:hover{color:orange;}

.nav-wrap{margin:30px 20px;border-bottom:2px solid #eee}

/* Clearfix */
.group:after{visibility:hidden;display:block;content:"";clear:both;height:0}
*:first-child+html .group{zoom:1} /* IE7 */

/* Example One */
#example-one{margin:0 auto;list-style:none;position:relative;width:960px}
#example-one li{display:inline-block}
#example-one a{;font-size:14px;float:left;padding:6px 10px 4px 10px;text-decoration:none;text-transform:uppercase}
#example-one a:hover{color:orange;}
#magic-line{position:absolute;bottom:-2px;left:0;width:100px;height:2px;background:#fe4902}
.current_page_item a{color:black; !important}
.ie6 #example-one li, .ie7 #example-one li{display:inline}
.ie6 #magic-line {bottom:-3px}
