<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JSP_Upload/src/SQLconnectino/DBCconnection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SQLconnectino.DBCconnection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JSP_Upload"/>
</launchConfiguration>
